<!-- <p-toast></p-toast> -->

<!-- <button class="btn btn-primary" (click)="newInmu()">Nuevo inmueble</button> -->

<a href="newInmu/">Nuevo inmueble</a>
<p-table [value]="pisosList" [tableStyle]="{'min-width': '50rem'}">
<!-- <p-table
[value]="pisosList"
[resizableColumns]="true"
styleClass="p-datatable-gridlines"
[paginator]="true"
[rows]="10"
[showCurrentPageReport]="true"
[rowsPerPageOptions]="[10, 25, 50]"
[loading]="true"
> -->
    <ng-template pTemplate="header">
        <tr>
            <th>Dirección</th>
            <th>Provincia
                <p-columnFilter type="text" field="provincia" display="menu"></p-columnFilter>
            </th>
            
            <th>Precio</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pisosList>
        <tr>
            <td>
                {{pisosList.direccion}}
            </td>
            <td>
                {{pisosList.provincia}}
                
            </td>
            <td>
                {{pisosList.precio}}
            </td>
            <td>
                <a href="details/{{pisosList.key}}">+ info</a>
            </td>
        </tr>
    </ng-template>
</p-table>





