
<h2>Lista de inmuebles</h2>
<div class="subMenuInmuebles">
    <div><button (click)="nuevoInmu()" type="button" class="btn btn-success">Nuevo inmueble</button></div>
    <div><p-inputSwitch (onChange)="handleChange($event)"></p-inputSwitch> Mostrar finalizados</div>
    
    
</div>



<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Dirección</th>
            <th>Provincia</th>
            <th>Municipio</th>
            <th>Precio</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inmueble of inmuebles">
            <th>{{inmueble.direccion}}</th>
            <th>{{inmueble.provincia}}</th>
            <th> {{inmueble.municipio}}</th>
            <th> {{inmueble.precio}}</th>
            <th>
                <div *ngIf="inmueble.cru; else loggedOut">
                    cru.
                  </div>
                  <ng-template #loggedOut>
                    no cru                 
                    </ng-template>
            </th>
            <th>
                <button (click)="actualizarInmueble(inmueble.id)" class="btn btn-info">Editar</button>
                <button (click)="detallesInmueble(inmueble.id)" class="btn btn-primary" style="margin-left: 10px;">Detalles</button>
                <button (click)="finalizarInmueble(inmueble.id)" class="btn btn-danger" style="margin-left: 10px;">Finalizar</button>
                
                
            </th>
            </tr>
    </tbody>
</table>
<!-- {{inmuebles|json}} -->



<!-- <p-toast></p-toast> -->

<!-- <button class="btn btn-primary" (click)="newInmu()">Nuevo inmueble</button> -->

<!-- <p-table [value]="inmuebles" [tableStyle]="{'min-width': '50rem'}">

    <ng-template pTemplate="header">
        <tr>
            <th>Dirección</th>
            <th>Provincia
                <p-columnFilter type="text" field="provincia" display="menu"></p-columnFilter>
            </th>
            <th>Municipio</th>
            
            <th>Precio</th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inmuebles>
        <tr>
            <td>
                {{inmuebles.direccion}}
            </td>
            <td>
                {{inmuebles.provincia}}
                
            </td>
            <td>
                {{inmuebles.municipio}}
                
            </td>
            <td>
                {{inmuebles.precio}}
            </td>
            <td>
                <div *ngIf="inmuebles.cru; else loggedOut">
                    cru.
                  </div>
                  <ng-template #loggedOut>
                    no cru                 
                    </ng-template>

            </td>
            <td>
                <a href="details/{{inmuebles.key}}">+ info</a>
            </td>
        </tr>
    </ng-template>
</p-table> -->





